<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>

  
</head>
   <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
<body>
      <h3>Item:  {{item_name}}</h3>
      
<table>
  <tr>
    <th>Wished for by:</th>
  </tr>
 <tr>
     
     <!--For every item in Other-->
     {%for item in list%}
     {%if item.item.name == item_name %}
     
   
    <td>{{item.owner.name}}</td>

  </tr>
     {%endif%}
    {%endfor%}

   

</table>
 <a href="/home"> Home </a>
    </body>
</html>